/* CSS declarations go here */
#content-center-desktop {
}

#chat_form{
  width: 100%;
  border: solid;
  border-color: mediumaquamarine;
  background-color: #fff;
  padding: 30px;
  position: absolute;
  line-height: 30px;
  bottom: 0px;
  /*width: 100%;
  padding-top: 20px;
  padding-bottom: 15px;
  background: mediumaquamarine;
  color: #FFFFFF;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 11pt;
  font-weight: 500;*/

}

#chat_container{
    padding: 10px;
    width: 100%;
    background-color: aquamarine;
    border: solid 10px;
    border-color: mediumaquamarine;
    overflow: scroll;
    max-height: 500px;
    overflow-x: hidden;
}
/*Mobile Screen Specification*/
@media (min-width: 992px) {
  #content-center-desktop {
    padding: 0 25% !important;
  }
  #chat_form{
    width: 50%;
  }
}