<head>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
{{> chat_window}}
</body>
<template name="chat_window">
  <div id="content-center-desktop">
  	<h2 class="center-align green-text title">សារបន្តផ្ទាល់</h2>
  	<div id="chat_container">
  		<ul id="chat">
  			{{#if Template.subscriptionsReady}}
  				{{#transition in="zoomIn" out="bounceOut"}}
  					{{#each chats}}
  						<li class="animated out">
  							<div class="card-panel grey lighten-5 z-depth-1">
  								<div class="card-stackedc">
  									<div class="card-content">
  										<div class="chip">
  											<img src="img_avatar.png" alt="Contact Person">
  											{{name}}
  										</div>
  										:<p style="word-wrap: break-word" class="flow-text">
  										{{msg}}
  									</p>
  										<br/>

  										<div class="right-align"><i
  												class="material-icons right">today</i> {{ format_date date}}
  										</div>
  									</div>
  								</div>
  							</div>
  						</li>
  					{{/each}}
            {{doneTrigger}}
  				{{/transition}}
  			{{/if}}
  		</ul>
    </div>
    <form id="chat_form" action="#">
      <!--<legend>Insert your chat</legend>-->
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">account_circle</i>
          <input type="text" id="username" name="username">
          <label for="username"> Username</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">chat</i>
          <input type="text" id="msg" name="msg" length="120">
          <label for="msg"> Message</label>
        </div>
      </div>
      <div class="right-align">
        <button class="waves-effect waves-light btn-sm btn-floating"><i class="material-icons right">send</i>
        </button>
      </div>
    </form>
  </div>
</template>

